:root {
    --primary-vdb: hsl(243, 87%, 12%);
    --primary-desatblue: hsl(238, 22%, 44%);
    --accent-brightblue: hsl(224, 93%, 58%);
    --accent-mcyan: hsl(170, 45%, 43%);
    --neutral-lgb: hsl(240, 75%, 98%);
    --neutral-lg: hsl(0, 0%, 75%);
}